@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.end-screen__title 
		font-size: 3vw
	.end-screen__text 
		font-size: 2vw
	.end-screen__text 
		margin-top: 2vw
	.app__wrapper 
		margin: 2vw 0
	.end-screen__text
		margin-top: 1vw



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.welcome-text
		width: 75vw
		font-size: 4vw
	.logo 
		width: 10vw
	.loader
		width: 15vw
		height: 15vw
		margin-bottom: 3vw
	.end-screen__title 
		font-size: 4vw
	.end-screen__text 
		font-size: 2.7vw
	.app__image
		width: 17vw
	.end-screen__social img 
		width: 7vw
	.end-screen__text 
		margin-top: 0
	.end-screen__social 
		margin-top: 1vw
	.menu-wrapper
		width: 35px
		height: 35px
	.menu__item
		width: 35px
		height: 35px
	.menu__btn-row
		width: 20px
	.menu__btn
		width: 20px
		height: 13px
	.menu__btn-row
		margin-bottom: 3px
	.menu__btn.active .menu__btn-row:first-child
		top: 6px
	.menu__title
		font-size: 6px
	.subtitle__img
		width: 20px
	.bage
		font-size: 6px
		width: 12px 
		height: 12px
	.volume__btn img
		width: 18px
	.full-screen-img
		width: 17px
	.reload-img
		width: 18px
	.menu__content
		width: 145px
	.leng__item,
	.leng__item--i
		width: 32px 
		height: 32px
		font-size: 10px
	.play-list__modal
		width: 200px
	.play-list-title 
		font-size: 10px
	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





