@import "vars"
@import "fonts"

.welcome
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    width: 100% 
    min-height: 100% 
    max-height: 100% 
    height: 100vh
    background: $blue
    display: flex 
    justify-content: center 
    align-items: center
    flex-direction: column
    color: #fff
    text-align: center
    overflow: hidden
    font-size: 2vw
    line-height: 1.3
.welcom__text
    color: #fff 
.welcome-animation
    display: none
.welcome-text
    width: 40vw
    margin: 0 auto
.split-char
    display: inline-block
.w40px
    width: 1vw
.split-char:nth-of-type(182)
    height: 2vw
        display: block
.logo 
    width: 4.5vw
    opacity: 0
    -webkit-animation: gogoloader 3s infinite 3s
    box-shadow: 0 0 1vw #fff, inset 0 0 1vw #fff
    //border-radius: 50%
//start loader

.loader
    width: 8vw
    height: 8vw
    margin: 0 auto
    margin-bottom: 2vw
    position: relative
    box-sizing: border-box
    z-index: 0
    display: flex 
    justify-content: center 
    align-items: center
.loader:before,
.loader:after
    opacity: 0
    box-sizing: border-box
    content: "\0020"
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 0
    border: 2px solid #fff
    box-shadow: 0 0 1vw #fff, inset 0 0 1vw #fff
.loader:after
    z-index: 1
    -webkit-animation: gogoloader 4s infinite 4s
// .loader:before
//     z-index: 2
//     -webkit-animation: gogoloader 3s infinite 3s
@-webkit-keyframes gogoloader
    0%
        -webkit-transform: scale(0)
        opacity: 0
    50%
        opacity: 1
    55% 
        opacity: 1
    100%
        -webkit-transform: scale(1)
        opacity: 0

//end loader

//start end screen style
.end-screen
    padding-left: 10% 
    padding-right: 10%
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    width: 100% 
    min-height: 100% 
    max-height: 100% 
    height: 100vh
    background: $blue
    display: flex 
    justify-content: center 
    align-items: center
    flex-direction: column
    color: #fff
    text-align: center
    overflow: hidden
.end-screen__title 
    font-size: 2vw
    line-height: 1.3
  
.end-screen__text
    font-size: 1.2vw
    margin-top: 1vw
.app__wrapper
    display: flex
    justify-content: center
    align-items: center
    align-items: center
    margin: 0.5vw 0
.app__image 
    width: 120px  
    display: block 
    margin: 0 0.5vw
.end-screen__social 
    display: flex 
    justify-content: center
    margin-top: 10px
    a 
        display: block 
        margin: 0 5px
    img 
        width: 35px
//end end screen style

//start menu style
.iframe__header
    margin-top: 10px 
    margin-left: 10px
    display: flex 
    align-items: center
    position: relative
    font-family: 'Montserrat', sans-serif
.menu-wrapper 
    background: $blue
    color: #fff 
    width: 50px 
    height: 50px
    display: flex 
    justify-content: center 
    align-items: center
    flex-direction: column
.menu__btn 
    width: 30px 
    height: 16px
.menu__btn-row 
    width: 30px 
    height: 2px 
    background: #fff
    margin-bottom: 5px
    border-radius: 10px
    transition: all 0.3s
.menu__btn-row:last-child 
    margin-bottom: 0
.menu__title
    font-size: 10px
    line-height: 1
    padding-top: 3px
    font-family: 'Montserrat', sans-serif
    font-weight: 600

.menu__btn
    cursor: pointer
.menu__content
    background: $blue
    display: flex 
    align-items: center
.reload-img 
    width: 30px
.menu__content
    position: absolute 
    top: 100% 
    left: 0
.menu__content
    display: none
.menu__content.active
    display: flex
.reload-btn,
.full-screen__btn,
.subtitle__btn
    cursor: pointer

.full-screen-img
    width: 27px
.subtitle__img
    width: 34px 
.menu__item
    padding: 0px 0px
    display: flex 
    align-items: center 
    width: 50px
    height: 50px
    justify-content: center
    background: $blue
.menu__item.active
    background: #666666
.leng 
    background: #666666
    color: #fff
    width: 50px 
    height: 50px
    display: flex 
    justify-content: center 
    align-items: center
    font-weight: 700
    cursor: pointer
    font-size: 8px
    position: relative
    border-top: 1px solid #fff
    border-bottom: 1px solid #fff
.leng__wrapper
    display: none
.leng__wrapper.active
    display: block
.leng.active 
    background: red
.down-img 
    width: 15px 
.menu__btn.active 
    .menu__btn-row:last-child 
        display: none

    .menu__btn-row:first-child 
        transform: rotate(45deg)
        margin: 0
        position: relative
        top: 5.5px
    .menu__btn-row:nth-child(2) 
        transform: rotate(-45deg)
        position: relative
        top: 4px
.leng__wrapper
    position: relative
.leng__list
    position: absolute 
    top: 100% 
    left: 0
    z-index: 999
    display: none
    height: 204px 
    overflow-y: auto
    overflow-x: hidden


.leng__list::-webkit-scrollbar
    width: 3px
    background-color: #666666
    border-radius: 5px
.leng__list::-webkit-scrollbar-thumb
    background: #3b8dbd
    border-radius: 5px
.leng__list.active 
    display: block
.leng__item
    width: 48.5px 
    height: 50px 
    display: flex 
    justify-content: center 
    align-items: center
    background: #666666
    color: #fff
    font-size: 12px
    font-weight: 600
    cursor: pointer
    border-bottom: 1px solid #fff
    

.leng__item.active
    background: $blue
    color: #fff
   
.iframe__header--open
    display: flex
    align-items: flex-start
    .menu__content 
        position: static
    .leng 
        height: 55.5px
//end menu style

.subtittle-wrapper 
    position: relative
    border: 1px solid #fff
.leng__wrapper
    position: absolute 
    top: 100% 
    left: 0
@import "media"



